<div class="container">
    <div class="row">
      <div class="col">
        <div class="title-box">
          <h1 class="title-text">Contacto de soporte!</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="nombreCompleto">Nombre Completo:</label>
        <input 
            formControlName="nombreCompleto"
            id="nombreCompleto" 
            type="text" 
            class="form-control"
            aria-describedby="emailHelp" required>
       </div>
  
       <div class="form-group">
        <label for="nombreEmpresa">Nombre de la empresa:</label>
        <input 
            formControlName="nombreEmpresa"
            id="nombreEmpresa" 
            type="text" 
            class="form-control"
            aria-describedby="emailHelp" required>
       </div>
  
       <div class="form-group">
        <label for="correoElectronico">Correo electrónico:</label>
        <input 
            formControlName="correoElectronico"
            id="correoElectronico" 
            type="email" 
            class="form-control"
            aria-describedby="emailHelp" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
       </div>
  
       <div class="row">
        <div class="col-md-6 form-group">
          <label for="telefono">Teléfono:</label>
          <input 
            formControlName="telefono"
            id="telefono" 
            type="tel" 
            class="form-control"
            aria-describedby="emailHelp" 
            pattern="[0-9]{10}" 
            title="Ingresa un número de teléfono de 10 dígitos" 
            required>
        </div>
        
        <div class="col-md-6 mb-3">
          <label for="categoria" class="form-label">Categoría:</label><br>
          <select class="form-select"          
           formControlName="categoria"
           id="categoria" aria-describedby="emailHelp" required>
            <option value="" selected>Selecciona una categoría</option>
            <option value="Facturación">Facturación</option>
            <option value="soporte técnico">soporte técnico</option>
            <option value="ventas">ventas</option>
            <option value="información general">información general</option>
          </select>
        </div>
      </div>
  
      <div class="form-group">
        <label for="mensaje">Mensaje:</label>
        <input 
            formControlName="mensaje"
            id="mensaje" 
            type="text" 
            class="form-control"
            aria-describedby="emailHelp"  required>
       </div><br>
  
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>